@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Config */
*{
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

:root {
  --bg-primary : #f5f5f5;
  --bg-accent : #030303;
  --bg-secondary : #ffffff;
  --bg-secondary-accent : #fcfcfc;
  --color-gray : #9D959C;
  --color-link : #c2c2c2;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;

}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #868686;

}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Starting opacity for the current banner */
  }

  
  100% {
    opacity: 1; /* Fully fade out */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Start fading out from current opacity */
  }

  to {
    opacity: 0; /* Fully fade out */
  }
}

@media(min-width:768px){
  .shift-banner{
    transform: translateX(-200px)!important;
  }

}
body {
  overflow-x: hidden;
}